@keyframes textShadowPulse {
    0% {
        text-shadow: 0 0 4px rgba(0, 115, 230, 0.1);
    }
    50% {
        text-shadow: 0 0 8px rgba(0, 115, 230, 0.3);
    }
    100% {
        text-shadow: 0 0 4px rgba(0, 115, 230, 0.1);
    }
}

.nav-title{
    display: inline-block;
    font-weight: bolder;
    white-space: nowrap;
    font-size: larger;
    font-family: fantasy;
    animation: textShadowPulse 3s infinite;
    transition: all 0.3s ease;
}

.nav-title:hover {
    text-shadow: 0 0 10px rgba(0, 115, 230, 0.5);
}

.nav-links{
    display: inline-flex;   
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
a{
    text-decoration: none;
}
.section_1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section_1 {
    position: relative;
    overflow: hidden;
    background: #222;
    height: 80vh;
    color: white;
    text-align: center;
    font-weight: bold;
    align-items: start;
    
}

.section_1 .content{
    width: 40%;
    position: absolute;
    color:  rgb(61, 58, 57);
    top: 0%;
    height: inherit;
    background : rgba(251, 255, 255, 0.5);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.6s;
}

.section_1 .content:hover{
    background : rgba(251, 255, 255, 0.7);
}

nav {
    background: rgb(59, 56, 52);
    color: rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    margin: 0 15px;
    color: rgb(239, 239, 239);
    font-size: small;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    display: inline-block;
    padding: 5px 0;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

nav a:hover {
    transform: scale(1.05);
}

nav a:hover::after {
    width: 100%;
}

.container {
    padding: 40px;
    text-align: center;
    margin: auto;
}

.section_2 {
    background: rgb(59, 56, 52);
    border-radius: 12px;
    padding: 50px 30px;
    margin-top: -20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 60vh;    
    display: flex;
    flex-direction: column;
    color: #9b9b9b;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.section_2 h2,.section_4 h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.section_3 h2 {
   width: 100%;
   text-align: left;
}

h2{
    font-size: 2.2rem;  
}

.section_2 p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.section_2 li .title{
    font-weight: bold;
}
.section_2 li{
    text-align: left;
}

.section_3 img, .section_5 img{
    width: 30%;
}
.section_3 .content-body,.section_5 .content-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_3 span {
    margin-bottom: 20px;
}
li{
    margin: 10px;
}

.section_2 ul{
    max-width: max-content;
}

.section_4, .section_6{
    background: rgb(59, 56, 52);
    color: #9b9b9b;
}

.section_4 ul{
    list-style-type: none;
}

.cta-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background: #2D2D2D;
    color: #9b9b9b;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s ease;
}

.cta-buttons a:hover {
    background: #2D2D2D;
    scale: 1.05;
}

.section {
    padding: 40px;
    border-bottom: 1px solid #ddd;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

}

h1, h2 {
    position: relative;
    transition: all 0.3s ease;
}

h1:hover, h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

.section_6{
    background : #222;
}

.section_6 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
}
.section_6 a{
    color: #9b9b9b;
}